{% extends 'miseEnPage_Classique.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="listeArticle flex wrap">
    {% for article in listeArticle %}
        {% include 'clientArticle/affichage.html.twig' with {'article': article} %}
    {% endfor %}
    </div>
{% endblock %}

{% block slider %}
    <div id="slider">
        <figure>
            {% for i in 0..5 %}
                <a href="{{ path('Evenement_client_afficher', {'idEvenement': i+1}) }}" id="emplacement{{ i }}"> <img src="../public/uploads/evenement/{{ listPhotoEvenement[i]['image'] }}" alt> </a>
            {% endfor %}
            <a href="{{ path('Evenement_client_afficher', {'idEvenement': 1}) }}"> <img src="../public/uploads/evenement/{{ listPhotoEvenement[0]['image'] }}" alt> </a>
        </figure>
    </div>
{% endblock %}