{%  extends 'miseEnPage_PleinePage.html.twig' %}

{%  block title %}
    {{ nomProduit }}
{% endblock %}

{% block body %}
    {% set A_ajoutRapide="" %}
    <div class="flex ai_center">
        <h2 class="espaceDroite">{{ nomProduit }}</h2>
        <a class="boutton boutton_endNav" href="{{ path('adminProduit_affichage', {'nomProduit': nomProduit}) }}">Retour</a>

    </div>
    <div class="flex ai_center">
        {% if isVIP %} <p class="espaceDroite">Ce produit est réservé au clients VIP</p>
        {% else %} <p class="espaceDroite">Ce produit est n'est pas réservé au client VIP</p>
        {% endif %}
        <form action="{{ path('adminArticle_ChangeVIP', {'nomProduit': nomProduit}) }}" method="post" >
            <input type="hidden" value="{{isVIP}}" name="newVIP">
            <input type="submit" value="Modifier" class="bouttonV2">
        </form>
    </div>
    <div>
        <p class="sansEspace" > * Ajout groupé : Lors de l'ajout d'un nouveau produit, entrer toutes les valeurs séparées par | pour tout ajouté d'un coup   </p>
        <p class="sansEspace" > ( exemple 1 : valeur1|valeur2|valeur3 ou exemple 2 : valeur1 ) </p>
    </div>
    <form method="post" action="{{ path('adminArticle_accueil', {'isModification': 0, 'nomProduit': nomProduit}) }}" class="espaceHaut">
        <label for="recherche">Modele : </label>
        <input type="text" name="recherche" id="recherche">
        <input type="submit" value="Rechercher">
    </form>
    <table id="Article_Table">
        <tr>
            {% for nom in listeColonne|keys %}
                {% if loop.index0<isGroup|length and isGroup[loop.index0] == '1' %}
                    <th>{{ nom }} * </th>
                {% else %}
                    <th>{{ nom }}</th>
                {% endif %}
            {% endfor %}
            <th>Action</th>
        </tr>
        {% for article in listeArticle %}
            {% if idArticle == article[0] %}
                {% set A_ajoutRapide = article %}
            {% endif %}
        {% endfor %}
        {% if not isModification %}
            <tr>
                <form action="{{ path('adminArticle_ajouter', {'nomProduit': nomProduit}) }}" method="post" enctype="multipart/form-data">
                    {% for nomColonne,unite in listeColonne %}
                        {% set nomUnite = unite|split('(')|first %}
                        {% set tailleUnite = unite|split('(')|last|replace({')' : ""}) %}
                        <th>
                            {% if nomColonne == 'Statut' %}
                                <select name="idEtat" >
                                    {% for etat in listeEtat %}
                                        <option value="{{ etat.id }}" {% if A_ajoutRapide!="" and A_ajoutRapide.Statut == etat.Statut %} selected {% endif %}>{{ etat.Statut }} </option>
                                    {% endfor %}
                                </select>
                            {% elseif nomColonne == 'Images'%} <input type="file" name="repertoir_image[]" accept=".png, .jpg, .jpeg" multiple required class="inputFile" >
                            {% elseif nomUnite == 'varchar' %} <input type="text" maxlength="{{ tailleUnite }}"  name="{{ nomColonne }}" {% if A_ajoutRapide!="" %} value="{{ A_ajoutRapide[nomColonne] }}" {% endif %} required>
                            {% elseif nomUnite == 'int' %} <input type="number" name="{{ nomColonne }}" {% if A_ajoutRapide!="" %} value="{{ A_ajoutRapide[nomColonne] }}" {% endif %} required>
                            {% elseif nomUnite == 'tinyint' %} <input type="checkbox"  name="{{ nomColonne }}" value="1" {% if A_ajoutRapide!="" and A_ajoutRapide[nomColonne] == 1 %} checked {% endif %}>
                            {% endif %}
                        </th>
                    {% endfor %}
                    <th>
                        <input type="submit" value="Ajouter" class="bouttonV2">
                    </th>
                </form>
            </tr>
        {% endif%}
        {% for article in listeArticle %}
            <tr>
                {% if idArticle == article[0] and isModification %}
                    <form action="{{ path('adminArticle_modifier', {'idArticle': article[0], 'nomProduit': nomProduit}) }}" method="post" enctype="multipart/form-data" >
                        {% for nomColonne,unite in listeColonne %}
                            {% set nomUnite = unite|split('(')|first %}
                            {% set tailleUnite = unite|split('(')|last|replace({')' : ""}) %}
                            <th>
                                {% if nomColonne == 'Statut' %}
                                    <select name="idEtat">
                                        {% for etat in listeEtat %}
                                            <option value="{{ etat.id }}" {% if article.Statut == etat.Statut %} selected {% endif %} >{{ etat.Statut }}</option>
                                        {% endfor %}
                                    </select>
                                {% elseif nomColonne == 'Images'%} <input type="file" name="repertoir_image[]" accept=".png, .jpg, .jpeg" multiple class="inputFile" >
                                {% elseif nomUnite == 'varchar' %} <input type="text" value="{{ article[nomColonne] }}"  name="{{ nomColonne }}" required>
                                {% elseif nomUnite == 'int' %} <input type="number" name="{{ nomColonne }}" required value="{{ article[nomColonne] }}" >
                                {% elseif nomUnite == 'tinyint' %} <input type="checkbox" name="{{ nomColonne }}" value="1" {% if article[nomColonne] == 1 %} checked {% endif %} >
                                {% endif %}
                            </th>
                        {% endfor %}
                        <th>
                            <input type="submit" value="Enregistrer" class="bouttonV2">
                            <a href="{{ path('adminArticle_accueil', {'nomProduit': nomProduit ,'isModification':0}) }}" class="bouttonV2">Annuler</a>
                        </th>
                    </form>
                {% else %}
                    {% for key,valeur in article %}
                        {% if key in  listeColonne|keys  %}
                            <th> {{ valeur }}</th>
                        {% endif %}
                    {% endfor %}
                    <th>
                        <a href="{{ path('adminArticle_accueil', {'nomProduit': nomProduit, 'idArticle': article[0] ,'isModification':1 }) }}" class="bouttonV2">Modifier</a>
                        <a href="{{ path('adminArticle_supprimer', {'nomProduit': nomProduit, 'idArticle': article[0] }) }}" class="bouttonV2">Supprimer</a>
                    </th>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}