{% extends 'miseEnPage_Classique.html.twig' %}

{% block body %}
    {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}
         <button type="submit" class="boutton boutton_endNav">Enregistrer</button>
    {{ form_end(profilForm) }}
{% endblock %}

{% block title %}
    {{ monProfil.nom }} {{ monProfil.prenom }}
{% endblock %}

