{% extends 'miseEnPage_Classique.html.twig' %}

{% block title %}
    Ton Pannier
{% endblock %}

{% block body %}
    {% if monPannier != [] %}
        <form id="pannier_Accueil" action="#" method="post">
            <h1> Ton Pannier </h1>
            <div class="flex ">
                <table id="pannier_table">
                    <tr>
                        <th>Article</th>
                        <th><label for="quantiter">Quantité</label></th>
                        <th>Prix</th>
                        <th><a href="#"><img src="/CuirNomade/public/img/LogoPoubelle.png" alt="Logo Vider le Pannier"></a></th>
                    </tr>
                    {% for article in monPannier %}
                        <tr>
                            <th class="flex column">
                                <h1 class="flex">{{ article.Modele }}</h1>
                                {% for colonne in article.colonneGroup %}
                                    <p class="flex">{{ colonne }} : {{ article[colonne] }}</p>
                                {% endfor %}
                            </th>
                            <th><input type="number" value="{{ article.nombre }}" min="0" id="quantiter"></th>
                            <th>{{ article.Prix }}€</th>
                            <th><a href="#" class="X" >X</a></th>
                        </tr>
                    {% endfor %}
                </table>
                <div class="flex column ai_center">
                    <h1 class="sansEspace"> Montant Total </h1>
                    <h1 class="sansEspace">{{ totalPannier }}€</h1>
                    <input type="submit" value="Commander" class="bouttonV2">
                    <p class="petiteLigne">Panier affiché TTC sur la base d'une TVA à 20%.</p>
                </div>
            </div>
        </form>
    {% else %}
        <h1 class="espaceGauche">Ton panier est vide !</h1>
    {% endif %}
{% endblock %}

