{% extends 'miseEnPage_Classique.html.twig' %}

{% block title %}
    Gestions des Evenements
{% endblock %}

{% block body %}
    <div class="flex jc_spaceEvenly espaceTopBot" id="evenement_accueil">
        <table>
            <tr>
                <th><h1>emplacement</h1></th>
                <th><h1>nom</h1></th>
            </tr>
            <form action="{{ path('Evenement_admin_enregistrer') }}" method="post" name="modifierEmplacement">
                {% for i in 1..6 %}
                    <tr>
                        <th>{{ i }}</th>
                        <th>
                            <select name="{{ i }}">
                                {% for evenement in listEvenement %}
                                    <option value="{{ evenement.id }}" {% if evenement.id == listEmplacement[i-1]['idEvenement']  %} selected {% endif %} >{{ evenement.nom }}</option>
                                {% endfor %}
                            </select>
                        </th>
                    </tr>
                {% endfor %}
                <tr><th><input type="submit" value="Enregistrer" class="bouttonV2"></th></tr>
            </form>
        </table>
        <div class="flex column ai_center">
            <h1>Ajouter un Evenement</h1>
            <a href="{{ path('Evenement_admin_creer') }}" class="bouttonV2">Creer</a>
        </div>
        <div class="flex column ai_center">
            <h1>Supprmier un Evenement</h1>
            <form method="post" name="supprimerEvenement" action="{{ path('Evenement_admin_supprmier') }}">
                <select name="idEvenement">
                    {% for evenement in listEvenement %}
                        <option value="{{ evenement.id }}">{{ evenement.nom }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Supprmier" class="bouttonV2">
            </form>
        </div>
    </div>
{% endblock %}