<div class="prensetationArticle" >
    <a href="{{ path('clientArticle_detail', {'idArticle': article[0], 'nomProduit': article.nomTable }) }}">
    <div class="flex column ai_center jc_stretch">
        <div class="flex prensetationArticle_info">
            <h4>{{ article.Modele }}</h4>
            <p>{{ article.Prix }} € </p>
        </div>
        <img src="/CuirNomade/public/uploads/photos/{{ article.nomImage }}" alt="image de {{ article.nomTable }}">
    </div>
    </a>
</div>