<div class="prensetationArticle" >
    <a href="{{ path('clientArticle_detail', {'idArticle': article[0], 'nomProduit': article.nomTable }) }}">
    <div class="flex ">
        <img src="../public/uploads/photos/{{ article.nomImage }}" alt="image de {{ article.nomTable }}">
        <div>
            <h4>{{ article.Modele }}</h4>
            <p>{{ article.Couleur }}</p>
            <p>{{ article.Prix }} € </p>
        </div>
    </div>
    </a>
</div>