{%  extends 'miseEnPage_Classique.html.twig' %}

{% block title %} {{ article.Modele }} {% endblock %}

{% block body %}
    <div id="detailArticle" class="flex espaceTopBot">
        <div id="sliderArticle">
            <figure>
                {% set j = 0 %}
                {% for i in 1..10 %}
                    <img src="/CuirNomade/public/uploads/photos/{{ article.image[j] }}" alt="image de {{ article.Modele }}">
                    {% set j=j+1 %}
                    {% if j == article.image|length %}
                        {% set j = 0 %}
                    {% endif %}
                {% endfor %}
            </figure>
        </div>
        <form action="{{ path('pannier_ajouter') }}" method="post" class="flex column">
            {% for colone,isGroup in listeColonne %}
                {% if isGroup %}
                    <div>
                        <label for="{{ colone }}">{{ colone }}</label>
                        <select id="{{ colone }}" name="{{ colone }}">
                            {% for valeur in article[colone]%}
                                <option value="{{ valeur }}">{{ valeur }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% else %}
                    {% if loop.index0 == 0 %}
                        <div>{{ article.Modele }} {{ article.Prix }}€</div>
                    {% elseif loop.index0 == 1 %}
                    {% else %}
                        <div> {{ article[colone] }}</div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div>
                <label for="nombreArticle">Nombre :</label>
                <input type="number" name="nombreArticle" id="nombreArticle" value="1" min="0">
            </div>
            <input type="hidden" value="{{ article.Modele }}" name="Modele">
            <input type="hidden" value="{{ produit.nom }}" name="nomProduit">
            <input type="submit" value="Ajouter au pannier" class="boutton boutton_endNav">
        </form>
    </div>
{% endblock %}