{% extends 'miseEnPage_Colonne.html.twig' %}

{% block body %}
    <div class="listeArticle2 flex wrap">
        {% for article in listeArticle %}
            {% include 'clientArticle/affichage.html.twig' with {'article': article} %}
        {% endfor %}
    </div>
{% endblock %}

{% block contenueColonne %}
    <form  action="{{ path('clientArticle_recherche', {'nomProduit': produit.nom}) }}" method="post" name="formRecherche" id="formRecherche" class="flex column ai_stretch">
        {% for nom,info in colonneInfo %}
            {% set nomUnite = info.Type|split('(')|first %}
            {% set tailleUnite = info.Type|split('(')|last|replace({')' : ""}) %}
            <div>
                <label for="{{ nom }}">{{ nom }} : </label>
                {% if info.isGroup %}
                    <select name="{{ nom }}" id="{{ nom }}">
                        <option value="">/</option>
                        {% for valeur in colonneInfo[nom]['Valeurs'] %}
                            <option value="{{ valeur }}" {% if backRecherche[nom]==valeur %} selected {% endif %} >{{ valeur }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                     {% if nomUnite == 'varchar' %}
                         <input type="text" maxlength="{{ tailleUnite }}"  name="{{ nom }}" id="{{ nom }}" value="{{ backRecherche[nom]}}" >
                     {% elseif nomUnite == 'int' %}
                         <input type="number" name="{{ nom }}" id="{{ nom }}" value="{{ backRecherche[nom]}}">
                     {% elseif nomUnite == 'tinyint' %}
                         <input type="checkbox" name="{{ nom }}" value="1" id="{{ nom }}">
                     {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        <div>
            <a href="{{ path('clientArticle_recherche', {'nomProduit': produit.nom}) }}" class="bouttonV2 flex jc_center">Annuler</a>
            <input type="submit" value="Rechercher" class="bouttonV2 flex jc_center">
        </div>
    </form>
{% endblock %}

{% block title %}
{% endblock %}

