<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Cuir Nomade - {% block title %}Accueil{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Glory&display=swap" rel="stylesheet">

        <link rel="icon" href="{{ asset('img/LogoCuirNomade.png') }}">

    </head>
    <body>
        <header class="flex">
                <img src="/CuirNomade/public/img/banniereSiteSansBleu.png" alt="Banniere du Site Cuirs Nomades">
        </header>
        <div id="fondTaupe">
            {% block slider %} {% endblock %}
            {{ include('miseEnPage/adminNav.html.twig') }}
            {{ include('miseEnPage/mainNav.html.twig') }}
            {{ include('miseEnPage/flash.html.twig') }}
        </div>
        <main>
            {% block miseEnPage %} {% endblock %}
        </main>
        <footer>
            <div class="flex jc_spaceEvenly">
                <img src="/CuirNomade/public/img/LogoCuirNomade.png" alt="Logo du Site Cuirs Nomades">
                <div class="flex">
                    <h6>Nous Contactez : </h6>
                    <div class="espaceGauche">
                        <p>cuirsnomades@gmail.com</p>
                        <p>06 79 66 55 58</p>
                        <p>06 52 58 04 75 </p>
                    </div>
                </div>
                <div class="flex">
                    <h6>Nous Retrouvez :</h6>
                    <div class="espaceGauche">
                        <p>16 place jean yole</p>
                        <p>85160 Saint Jean de Monts</p>
                    </div>
                </div>
                <div>
                    <p>Copyright ©cuirsnomades 1995-2021, artisant cuir </p>
                    <p>siret : 41295264000032</p>
                </div>
                <img src="/CuirNomade/public/img/LogoCuirNomade.png" alt="Logo du Site Cuirs Nomades">
            </div>
        </footer>
    </body>

</html>
